{% extends 'basic.html'%}

  {% block message %} 
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong> Some Information About Us.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endblock %}

  {% block content %} 
      <div class="container mt-2">
        <h1>About TextUtils.</h1>
        <p class="text-left fs-5" >TextUtils is a website were you can enter your text and the text analyzer will do some of the task for you.
          You can select what you want to do with your text from the below options, available were you enter your text.</p><br>
        <h2> These are the few options available for you : </h2>  

        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-removepunc-list" data-bs-toggle="list" href="#list-removepunc" role="tab" aria-controls="removepunc">Remove Punctuation</a>
              <a class="list-group-item list-group-item-action" id="list-uppercase-list" data-bs-toggle="list" href="#list-uppercase" role="tab" aria-controls="uppercase">Uppercase</a>
              <a class="list-group-item list-group-item-action" id="list-lowercase-list" data-bs-toggle="list" href="#list-lowercase" role="tab" aria-controls="lowercase">Lowercase</a>
              <a class="list-group-item list-group-item-action" id="list-newlineremove-list" data-bs-toggle="list" href="#list-newlineremove" role="tab" aria-controls="newlineremove">NewLine Remover</a>
              <a class="list-group-item list-group-item-action" id="list-extraspaceremove-list" data-bs-toggle="list" href="#list-extraspaceremove" role="tab" aria-controls="extraspaceremove">Extra Space Remover</a>
              <a class="list-group-item list-group-item-action" id="list-charcount-list" data-bs-toggle="list" href="#list-charcount" role="tab" aria-controls="charcount">Character Count</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-removepunc" role="tabpanel" aria-labelledby="list-removepunc-list">
                <h4>Removes Punctuation from the text. If the Punctuation is from this list <br>'''!()-[]{};:'"\,<>./?@#$%^&*_~'''.</h4></div>
              <div class="tab-pane fade" id="list-uppercase" role="tabpanel" aria-labelledby="list-uppercase-list">
                <h4>All of your text is Uppercased.</h4>
              </div>
              <div class="tab-pane fade" id="list-lowercase" role="tabpanel" aria-labelledby="list-lowercase-list">
                <h4>All of your text is Lowercased.</h4>
              </div>
              <div class="tab-pane fade" id="list-newlineremove" role="tabpanel" aria-labelledby="list-newlineremove-list">
                <h4>Newlines from your text are removed if it exists.</h4>
              </div>
              <div class="tab-pane fade" id="list-extraspaceremove" role="tabpanel" aria-labelledby="list-extraspaceremove-list">
                <h4>Extra spaces are removed from text if it exists.</h4>
              </div>
              <div class="tab-pane fade" id="list-charcount" role="tabpanel" aria-labelledby="list-charcount-list">
                <h4>Total Number of Characters are counted. You can count the character after doing some text utilization or before doing any text utilization.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

  {% endblock %}

