{% extends 'basic.html'%}

  {% block message %} 

      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Something happened to your text : ).
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endblock %}

  {% block content %} 
      <div class="container">
        <h1>Your Analyzed text - {{ purpose }}</h1>
        <p>
          <pre>{{ analyzed_text }}</pre>
        </p>
      </div>
  {% endblock %}