{% extends 'basic.html'%}

  {% block message %} 
    <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
      <strong>Welcome to TextUtils!</strong> You can do anything with your text.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endblock %}

  {% block content %} 
      <div class="container mt-2">
        <form action="/analyze" method="POST">{% csrf_token %}
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter your text below.</label>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="7"></textarea>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="removepunc" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punctuation</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="uppercase" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Uppercase</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="lowercase" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Lowercase</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="newlineremover" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">NewLine Remover</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="extraspaceremover" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Extra Space Remover</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="charcount" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Character Count</label>
          </div>
          <button type="submit" class="btn btn-dark mt-2">Analyze</button>
        </form>
      </div>

  {% endblock %}

